workflow/Kitchen Booking Automation.json
{
  "name": "Kitchen Booking Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kitchen-booking",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "84d9cc2b-1e99-4bc6-9319-b13b7021cd09",
      "name": "Intake Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        208,
        176
      ],
      "webhookId": "kitchen-booking-webhook",
      "notes": "Entry point. Accepts POST with JSON fields: visitorName, visitorType ('Regular'|'Guest Chef'), requestedStart (ISO), requestedEnd (ISO), email, notes. Replace with a Form Trigger node if collecting via n8n form."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "visitorName",
              "value": "={{ $json.body.visitorName || $json.visitorName }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "visitorType",
              "value": "={{ $json.body.visitorType || $json.visitorType }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "email",
              "value": "={{ $json.body.email || $json.email }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "notes",
              "value": "={{ $json.body.notes || $json.notes || '' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "requestedStart",
              "value": "={{ $json.body.requestedStart || $json.requestedStart }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "requestedEnd",
              "value": "={{ $json.body.requestedEnd || $json.requestedEnd }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "isGuestChef",
              "value": "={{ ($json.body.visitorType || $json.visitorType) === 'Guest Chef' }}",
              "type": "boolean"
            },
            {
              "id": "a8",
              "name": "bufferAppliedMinutesBefore",
              "value": "={{ (($json.body.visitorType || $json.visitorType) === 'Guest Chef') ? 60 : 0 }}",
              "type": "number"
            },
            {
              "id": "a9",
              "name": "bufferAppliedMinutesAfter",
              "value": "={{ (($json.body.visitorType || $json.visitorType) === 'Guest Chef') ? 30 : 0 }}",
              "type": "number"
            },
            {
              "id": "a10",
              "name": "effectiveStart",
              "value": "={{ $now.getTime ? '' : '' }}{{ (new Date(new Date($json.body.requestedStart || $json.requestedStart).getTime() - ((($json.body.visitorType || $json.visitorType) === 'Guest Chef' ? 60 : 0) * 60000))).toISOString() }}",
              "type": "string"
            },
            {
              "id": "a11",
              "name": "effectiveEnd",
              "value": "={{ (new Date(new Date($json.body.requestedEnd || $json.requestedEnd).getTime() + ((($json.body.visitorType || $json.visitorType) === 'Guest Chef' ? 30 : 0) * 60000))).toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4b489bc1-71bf-41c8-a151-0550ad5386f3",
      "name": "Normalize & Calculate Buffers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        176
      ],
      "notes": "Single source of truth for timing math. Guest Chefs get -60min prep buffer (effectiveStart) and +30min cleanup buffer (effectiveEnd). Regulars keep requested times as-is. Downstream nodes read these normalized fields — no duplication of logic."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.isGuestChef }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2e9f0a90-3044-41fd-bdc0-6f4da5d3c5cf",
      "name": "Check Visitor Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        176
      ],
      "notes": "Routes by visitorType. TRUE output = Guest Chef (dual-calendar + buffers). FALSE output = Regular (Main Kitchen only)."
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "=4aafad68ec49a75dcc661b3e0634eb1d27ae44143943a22ffadb40b771c28af9@group.calendar.google.com",
          "mode": "id"
        },
        "start": "={{ $json.effectiveStart }}",
        "end": "={{ $json.effectiveEnd }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.email }}"
          ],
          "description": "=Guest Chef booking (incl. 60m prep + 30m cleanup)\nVisitor: {{ $json.visitorName }}\nEmail: {{ $json.email }}\nRequested: {{ $json.requestedStart }} → {{ $json.requestedEnd }}\nEffective (with buffer): {{ $json.effectiveStart }} → {{ $json.effectiveEnd }}\nNotes: {{ $json.notes }}",
          "summary": "=Guest Chef: {{ $json.visitorName }}"
        }
      },
      "id": "214a1a1c-4f21-4a61-8c74-9b9bb939ce02",
      "name": "Book Main Kitchen (Guest Chef)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        944,
        32
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "aZxk2F6szNMQWmmo",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Books the Main Kitchen calendar for Guest Chef with full effective window (includes prep + cleanup buffers). On failure, routes to 'Fallback: Alert HR Manager'."
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "=e2bd7bb7e0133edf287d6993aedf135d9240c376db1412460cf3030d3b160254@group.calendar.google.com",
          "mode": "id"
        },
        "start": "={{ DateTime.fromISO($('Book Main Kitchen (Guest Chef)').item.json.start.dateTime).minus({minutes: 60}).toISO() }}",
        "end": "={{ $('Book Main Kitchen (Guest Chef)').item.json.start.dateTime }}",
        "additionalFields": {
          "description": "=Prep Station reservation for Guest Chef prep phase (60 minutes prior to requested start).\nVisitor: {{ $('Check Visitor Type').item.json.visitorName }}\nPrep window: {{ $('Check Visitor Type').item.json.effectiveStart }} → {{ $('Check Visitor Type').item.json.requestedStart }}\n",
          "summary": "=Prep Station:  {{ $('Check Visitor Type').item.json.visitorName }}"
        }
      },
      "id": "63d77850-df49-467b-86f7-7b360abaadd0",
      "name": "Book Prep Station (Guest Chef)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1184,
        32
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "aZxk2F6szNMQWmmo",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Secondary calendar — reserves the Prep Station only during the 60-minute prep window prior to the requested start. On failure, routes to 'Fallback: Alert HR Manager'."
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "33b48904f3af0673a8268b2f14d79bff55bb1b4a6305829fe046d515d90c88a0@group.calendar.google.com",
          "mode": "id"
        },
        "start": "={{ $json.effectiveStart }}",
        "end": "={{ $json.effectiveEnd }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.email }}"
          ],
          "description": "=Regular booking (no buffer applied)\nVisitor: {{ $json.visitorName }}\nEmail: {{ $json.email }}\nWindow: {{ $json.requestedStart }} → {{ $json.requestedEnd }}\nNotes: {{ $json.notes }}",
          "summary": "=Kitchen: {{ $json.visitorName }}"
        }
      },
      "id": "16d57899-6ee5-41a3-b699-5394703a4b25",
      "name": "Book Main Kitchen (Regular)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        944,
        336
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "aZxk2F6szNMQWmmo",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Regular visitor path — books only the Main Kitchen with requested times (no buffer). On failure, routes to 'Fallback: Alert HR Manager'."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "confirmationMessage",
              "value": "=Kitchen Booking Confirmed\nVisitor: {{ $('Check Visitor Type').item.json.visitorName }}\nType: {{ $('Check Visitor Type').item.json.visitorType }}\nRequested: {{ $('Check Visitor Type').item.json.requestedStart }} → {{ $('Check Visitor Type').item.json.requestedEnd }}\nEffective: {{ $('Check Visitor Type').item.json.effectiveStart }} → {{ $('Check Visitor Type').item.json.effectiveEnd }}\nBuffer applied: {{ $('Check Visitor Type').item.json.isGuestChef ? 'YES (-60m prep / +30m cleanup)' : 'NO' }}\nCalendars: {{ $('Check Visitor Type').item.json.isGuestChef ? 'Main Kitchen + Prep Station' : 'Main Kitchen' }}\nNotes: {{ $('Check Visitor Type').item.json.notes }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6c659bc6-f9ef-4ba8-a6d1-ba29634778cd",
      "name": "Format Confirmation Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        176
      ],
      "notes": "Builds a single human-readable confirmation string reused by both Slack and Discord. Keeps branch-agnostic — the upstream Set node already captured whether buffer was applied."
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0ASSPNB9GC",
          "mode": "list",
          "cachedResultName": "michaeljoniferecmj"
        },
        "text": "={{ $json.confirmationMessage }}",
        "otherOptions": {}
      },
      "id": "2809fc53-e644-4ee5-b2c4-187047e28569",
      "name": "Send Slack Confirmation",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1696,
        96
      ],
      "webhookId": "802037d7-91ad-425f-a178-acfb9da78fa4",
      "credentials": {
        "slackApi": {
          "id": "9oYZtENasoKstzJV",
          "name": "Slack account 6"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Posts formatted confirmation to the 'Kitchen Updates' Slack channel."
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1492846818839756841",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1492846819787538444",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1492846818839756841/1492846819787538444"
        },
        "content": "={{ $json.confirmationMessage }}",
        "options": {}
      },
      "id": "faa931b7-daec-4519-8544-1524d39f80da",
      "name": "Send Discord Confirmation",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1696,
        256
      ],
      "webhookId": "33a9b2b9-4ebc-4dae-a24b-5dd22d193d45",
      "credentials": {
        "discordBotApi": {
          "id": "wOWMZHxM7qNhcdnS",
          "name": "Discord Bot account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Mirrors confirmation to the Discord 'Kitchen Updates' channel. Parallel-send pattern — failure of one channel does not block the other."
    },
    {
      "parameters": {
        "fromEmail": "n8n-alerts@example.com",
        "toEmail": "joeydngcng1231@gmail.com",
        "subject": "=URGENT: Kitchen Booking Failure — {{ $json.visitorName || 'unknown visitor' }}",
        "emailFormat": "text",
        "text": "=A node in the Kitchen Booking workflow failed.\n\nWorkflow: {{ $workflow.name }}\nTimestamp: {{ $now.toISO() }}\nFailed Node: {{ $('Book Main Kitchen (Guest Chef)').isExecuted ? 'Book Main Kitchen (Guest Chef)' : ($('Book Main Kitchen (Regular)').isExecuted ? 'Book Main Kitchen (Regular)' : 'Unknown') }}\nError: {{ $('Book Main Kitchen (Guest Chef)').isExecuted ? ($('Book Main Kitchen (Guest Chef)').item.json.error?.message || 'See log') : ($('Book Main Kitchen (Regular)').isExecuted ? ($('Book Main Kitchen (Regular)').item.json.error?.message || 'See log') : 'See execution log') }}\n\n--- Original Payload ---\nVisitor: {{ $('Check Visitor Type').item.json.visitorName }}\nType: {{ $('Check Visitor Type').item.json.visitorType }}\nRequested Start: {{ $('Check Visitor Type').item.json.requestedStart }}\nRequested End: {{ $('Check Visitor Type').item.json.requestedEnd }}\nEmail: {{ $('Check Visitor Type').item.json.email }}\nNotes: {{ $('Check Visitor Type').item.json.notes }}\n\nPlease contact the visitor and arrange the booking manually.\n",
        "options": {}
      },
      "id": "79ff9a1e-acf8-46b6-b708-fd79e14b5696",
      "name": "Fallback: Alert HR Manager",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1456,
        544
      ],
      "webhookId": "3f5b5954-4823-44aa-80cf-e9d3b7e6e5b6",
      "credentials": {
        "smtp": {
          "id": "15I8TtSrEk2pnXs6",
          "name": "SMTP account 2"
        }
      },
      "notes": "Central failure sink. Every external-call node (Calendar x3, Slack, Discord) routes its error output here. Sends URGENT email to HR_MANAGER_EMAIL with workflow/node name, timestamp, error, and original payload so staff can recover manually."
    }
  ],
  "pinData": {},
  "connections": {
    "Intake Form Webhook": {
      "main": [
        [
          {
            "node": "Normalize & Calculate Buffers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Calculate Buffers": {
      "main": [
        [
          {
            "node": "Check Visitor Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Visitor Type": {
      "main": [
        [
          {
            "node": "Book Main Kitchen (Guest Chef)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Book Main Kitchen (Regular)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book Main Kitchen (Guest Chef)": {
      "main": [
        [
          {
            "node": "Book Prep Station (Guest Chef)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fallback: Alert HR Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book Prep Station (Guest Chef)": {
      "main": [
        [
          {
            "node": "Format Confirmation Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fallback: Alert HR Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book Main Kitchen (Regular)": {
      "main": [
        [
          {
            "node": "Format Confirmation Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fallback: Alert HR Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Confirmation Message": {
      "main": [
        [
          {
            "node": "Send Slack Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Discord Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Confirmation": {
      "main": [
        [
          {
            "node": "Fallback: Alert HR Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Discord Confirmation": {
      "main": [
        [
          {
            "node": "Fallback: Alert HR Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e3cd0e02-0e1c-4d18-a15f-40caebe02043",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4bf672f1b727d007d29f02266598c9ea41c40b80fb034305c5c83e5174bf7304"
  },
  "id": "y98OpXq2kBRSQyA5",
  "tags": [
    {
      "updatedAt": "2026-04-14T03:03:42.841Z",
      "createdAt": "2026-04-14T03:03:42.841Z",
      "id": "wlliAO5IZKfX4t7W",
      "name": "velo-pilates"
    }
  ]
}