workflow/kitchen-booking.workflow.json
{
  "name": "Kitchen Booking Automation",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kitchen-booking",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c1a00001-0000-4000-8000-000000000001",
      "name": "Intake Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "kitchen-booking-webhook",
      "notes": "Entry point. Accepts POST with JSON fields: visitorName, visitorType ('Regular'|'Guest Chef'), requestedStart (ISO), requestedEnd (ISO), email, notes. Replace with a Form Trigger node if collecting via n8n form."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "visitorName",
              "value": "={{ $json.body.visitorName || $json.visitorName }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "visitorType",
              "value": "={{ $json.body.visitorType || $json.visitorType }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "email",
              "value": "={{ $json.body.email || $json.email }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "notes",
              "value": "={{ $json.body.notes || $json.notes || '' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "requestedStart",
              "value": "={{ $json.body.requestedStart || $json.requestedStart }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "requestedEnd",
              "value": "={{ $json.body.requestedEnd || $json.requestedEnd }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "isGuestChef",
              "value": "={{ ($json.body.visitorType || $json.visitorType) === 'Guest Chef' }}",
              "type": "boolean"
            },
            {
              "id": "a8",
              "name": "bufferAppliedMinutesBefore",
              "value": "={{ (($json.body.visitorType || $json.visitorType) === 'Guest Chef') ? 60 : 0 }}",
              "type": "number"
            },
            {
              "id": "a9",
              "name": "bufferAppliedMinutesAfter",
              "value": "={{ (($json.body.visitorType || $json.visitorType) === 'Guest Chef') ? 30 : 0 }}",
              "type": "number"
            },
            {
              "id": "a10",
              "name": "effectiveStart",
              "value": "={{ $now.getTime ? '' : '' }}{{ (new Date(new Date($json.body.requestedStart || $json.requestedStart).getTime() - ((($json.body.visitorType || $json.visitorType) === 'Guest Chef' ? 60 : 0) * 60000))).toISOString() }}",
              "type": "string"
            },
            {
              "id": "a11",
              "name": "effectiveEnd",
              "value": "={{ (new Date(new Date($json.body.requestedEnd || $json.requestedEnd).getTime() + ((($json.body.visitorType || $json.visitorType) === 'Guest Chef' ? 30 : 0) * 60000))).toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c1a00001-0000-4000-8000-000000000002",
      "name": "Normalize & Calculate Buffers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 400],
      "notes": "Single source of truth for timing math. Guest Chefs get -60min prep buffer (effectiveStart) and +30min cleanup buffer (effectiveEnd). Regulars keep requested times as-is. Downstream nodes read these normalized fields — no duplication of logic."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.isGuestChef }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1a00001-0000-4000-8000-000000000003",
      "name": "Check Visitor Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 400],
      "notes": "Routes by visitorType. TRUE output = Guest Chef (dual-calendar + buffers). FALSE output = Regular (Main Kitchen only)."
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "MAIN_KITCHEN_CAL_ID",
          "mode": "id"
        },
        "start": "={{ $json.effectiveStart }}",
        "end": "={{ $json.effectiveEnd }}",
        "additionalFields": {
          "summary": "=Guest Chef: {{ $json.visitorName }}",
          "description": "=Guest Chef booking (incl. 60m prep + 30m cleanup)\nVisitor: {{ $json.visitorName }}\nEmail: {{ $json.email }}\nRequested: {{ $json.requestedStart }} → {{ $json.requestedEnd }}\nEffective (with buffer): {{ $json.effectiveStart }} → {{ $json.effectiveEnd }}\nNotes: {{ $json.notes }}",
          "attendees": ["={{ $json.email }}"]
        }
      },
      "id": "c1a00001-0000-4000-8000-000000000004",
      "name": "Book Main Kitchen (Guest Chef)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [980, 260],
      "onError": "continueErrorOutput",
      "notes": "Books the Main Kitchen calendar for Guest Chef with full effective window (includes prep + cleanup buffers). On failure, routes to 'Fallback: Alert HR Manager'."
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "PREP_STATION_CAL_ID",
          "mode": "id"
        },
        "start": "={{ $json.effectiveStart }}",
        "end": "={{ $json.requestedStart }}",
        "additionalFields": {
          "summary": "=Prep Station: {{ $json.visitorName }}",
          "description": "=Prep Station reservation for Guest Chef prep phase (60 minutes prior to requested start).\nVisitor: {{ $json.visitorName }}\nPrep window: {{ $json.effectiveStart }} → {{ $json.requestedStart }}"
        }
      },
      "id": "c1a00001-0000-4000-8000-000000000005",
      "name": "Book Prep Station (Guest Chef)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1220, 260],
      "onError": "continueErrorOutput",
      "notes": "Secondary calendar — reserves the Prep Station only during the 60-minute prep window prior to the requested start. On failure, routes to 'Fallback: Alert HR Manager'."
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "MAIN_KITCHEN_CAL_ID",
          "mode": "id"
        },
        "start": "={{ $json.effectiveStart }}",
        "end": "={{ $json.effectiveEnd }}",
        "additionalFields": {
          "summary": "=Kitchen: {{ $json.visitorName }}",
          "description": "=Regular booking (no buffer applied)\nVisitor: {{ $json.visitorName }}\nEmail: {{ $json.email }}\nWindow: {{ $json.requestedStart }} → {{ $json.requestedEnd }}\nNotes: {{ $json.notes }}",
          "attendees": ["={{ $json.email }}"]
        }
      },
      "id": "c1a00001-0000-4000-8000-000000000006",
      "name": "Book Main Kitchen (Regular)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [980, 560],
      "onError": "continueErrorOutput",
      "notes": "Regular visitor path — books only the Main Kitchen with requested times (no buffer). On failure, routes to 'Fallback: Alert HR Manager'."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "confirmationMessage",
              "value": "=Kitchen Booking Confirmed\nVisitor: {{ $json.visitorName }}\nType: {{ $json.visitorType }}\nRequested: {{ $json.requestedStart }} → {{ $json.requestedEnd }}\nEffective: {{ $json.effectiveStart }} → {{ $json.effectiveEnd }}\nBuffer applied: {{ $json.isGuestChef ? 'YES (-60m prep / +30m cleanup)' : 'NO' }}\nCalendars: {{ $json.isGuestChef ? 'Main Kitchen + Prep Station' : 'Main Kitchen' }}\nNotes: {{ $json.notes }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c1a00001-0000-4000-8000-000000000007",
      "name": "Format Confirmation Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1480, 400],
      "notes": "Builds a single human-readable confirmation string reused by both Slack and Discord. Keeps branch-agnostic — the upstream Set node already captured whether buffer was applied."
    },
    {
      "parameters": {
        "channel": "Kitchen Updates",
        "text": "={{ $json.confirmationMessage }}",
        "otherOptions": {}
      },
      "id": "c1a00001-0000-4000-8000-000000000008",
      "name": "Send Slack Confirmation",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1720, 320],
      "onError": "continueErrorOutput",
      "notes": "Posts formatted confirmation to the 'Kitchen Updates' Slack channel."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "content": "={{ $json.confirmationMessage }}",
        "options": {}
      },
      "id": "c1a00001-0000-4000-8000-000000000009",
      "name": "Send Discord Confirmation",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1720, 480],
      "onError": "continueErrorOutput",
      "notes": "Mirrors confirmation to the Discord 'Kitchen Updates' channel. Parallel-send pattern — failure of one channel does not block the other."
    },
    {
      "parameters": {
        "fromEmail": "n8n-alerts@example.com",
        "toEmail": "HR_MANAGER_EMAIL",
        "subject": "=URGENT: Kitchen Booking Failure — {{ $json.visitorName || 'unknown visitor' }}",
        "emailFormat": "text",
        "text": "=A node in the Kitchen Booking workflow failed.\n\nWorkflow: {{ $workflow.name }}\nNode: {{ $node.name }}\nTimestamp: {{ $now.toISO() }}\nError: {{ $json.error ? ($json.error.message || JSON.stringify($json.error)) : 'See execution log' }}\n\n--- Original Payload ---\nVisitor: {{ $json.visitorName }}\nType: {{ $json.visitorType }}\nRequested Start: {{ $json.requestedStart }}\nRequested End: {{ $json.requestedEnd }}\nEmail: {{ $json.email }}\nNotes: {{ $json.notes }}\n\nPlease contact the visitor and arrange the booking manually.",
        "options": {}
      },
      "id": "c1a00001-0000-4000-8000-00000000000a",
      "name": "Fallback: Alert HR Manager",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1480, 760],
      "notes": "Central failure sink. Every external-call node (Calendar x3, Slack, Discord) routes its error output here. Sends URGENT email to HR_MANAGER_EMAIL with workflow/node name, timestamp, error, and original payload so staff can recover manually."
    }
  ],
  "connections": {
    "Intake Form Webhook": {
      "main": [
        [{ "node": "Normalize & Calculate Buffers", "type": "main", "index": 0 }]
      ]
    },
    "Normalize & Calculate Buffers": {
      "main": [
        [{ "node": "Check Visitor Type", "type": "main", "index": 0 }]
      ]
    },
    "Check Visitor Type": {
      "main": [
        [{ "node": "Book Main Kitchen (Guest Chef)", "type": "main", "index": 0 }],
        [{ "node": "Book Main Kitchen (Regular)", "type": "main", "index": 0 }]
      ]
    },
    "Book Main Kitchen (Guest Chef)": {
      "main": [
        [{ "node": "Book Prep Station (Guest Chef)", "type": "main", "index": 0 }]
      ],
      "error": [
        [{ "node": "Fallback: Alert HR Manager", "type": "main", "index": 0 }]
      ]
    },
    "Book Prep Station (Guest Chef)": {
      "main": [
        [{ "node": "Format Confirmation Message", "type": "main", "index": 0 }]
      ],
      "error": [
        [{ "node": "Fallback: Alert HR Manager", "type": "main", "index": 0 }]
      ]
    },
    "Book Main Kitchen (Regular)": {
      "main": [
        [{ "node": "Format Confirmation Message", "type": "main", "index": 0 }]
      ],
      "error": [
        [{ "node": "Fallback: Alert HR Manager", "type": "main", "index": 0 }]
      ]
    },
    "Format Confirmation Message": {
      "main": [
        [
          { "node": "Send Slack Confirmation", "type": "main", "index": 0 },
          { "node": "Send Discord Confirmation", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Slack Confirmation": {
      "error": [
        [{ "node": "Fallback: Alert HR Manager", "type": "main", "index": 0 }]
      ]
    },
    "Send Discord Confirmation": {
      "error": [
        [{ "node": "Fallback: Alert HR Manager", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "pinData": {},
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
